.cadastro-receita-container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cadastro-receita-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
