.home-container {
  padding: 40px;
  color: #333;
  text-align: center;
}

.home-header {
  margin-bottom: 40px;
}

.home-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.card-action {
  background: #ffcc70;
  color: #333;
  padding: 20px 30px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.card-action:hover {
  transform: scale(1.05);
  background: #ffd785;
}

.home-popular h2 {
  margin-bottom: 20px;
}

.recipe-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.recipe-card {
  background: #fff8f0;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
}
